@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200&family=Roboto:wght@300&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Roboto:wght@300&family=Rubik:wght@800&display=swap');
body{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, p{
    font-family: 'Poppins', sans-serif;
}

td{
    text-align: center;
    font-size: 18px;
}

tr{
    text-align: center;
}

input{
    border-radius: 15px;
    background-color: rgb(228, 228, 228);
    color: rgb(68, 68, 68);
    border: none;
}


.plus{
    height: 30px;
    width: 30px;
    background-color: rgb(119, 211, 240);
}

.instrumentationTitle{
    margin-top: 5em;
}

.instButton{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 0px;
    background-color:rgb(119, 211, 240);
    font-size: 20px;
    font-weight: 600;
    margin: 0 .8em;
}

.instButton:hover{
    background-color: rgb(131, 226, 255);
}

#remove{
    background-color: rgb(218, 122, 122);
}

#remove:hover{
    background-color: rgb(255, 149, 149);
}

.chooseInst-container{
    display: flex;
    flex-direction: row;
    background-color: rgb(228, 228, 228);
    margin-top: 2em;
    border-radius: 5px;
    width: 600px;
}

.sort{
    margin: 2em;
}

#sort{
    width: 200px;
    height: 100px;
    background-color:rgb(71, 221, 146);
    color: black;
    font-weight: 600;
    border: 0px;
    font-size: 25px;
}

#sort:hover{
    background-color:rgb(78, 247, 162);
    transform: scale(1.1);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.199);
}

.inst-container-main{
    display: flex;
    flex-direction: row;
}

.instDisplayColumn{
height: 800px;
width: 200px;
}

.buttonColumn{
    height: 800px;
    width: 200px;
}

.instDisplayColumn h1{
    font-size: 25px;
    text-align: center;
}

#names{
    font-weight: 400;
    font-size: 14px;
}

.updateCircle{
    height: 30px;
    width: 30px;
    background-color: rgb(218, 122, 122);
    border-radius: 100%;
    display: inline-block;
    font-weight: 600;
}

.btn{
    background-color: none;
}

.createEnsemble{
    width: 200px;
    height: 100px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: 0px;
    border-radius: 3px;
    font-size: 25px;
    background-color: rgb(131, 226, 255);
}

.createEnsemble:hover{
    background-color:rgb(181, 253, 255);
    transform: scale(1.1);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.199);
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loadingTitle{
      margin-top: 38vh;
      margin-bottom: 2em;
      display: flex;
      flex-direction: column;
      text-align: center;
  }

  .display-container{
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  .display-container-left{
      flex: 3;
      margin: 5em;
      display: flex;
      flex-direction: column;
  }

  .display-container-right{
    flex: 1;
    text-align: center;
}

.displayBtn{
    margin: 1em;
}

/* Nav Bar */
nav{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    flex: 1;
}

.links{
    flex: 2;
    
}

.logIn{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 4vw;
}

.links ul{
    display: flex;
    justify-content: space-around;
}
.links ul li{
    display: inline-block;
}


.navLink{
    color: black;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    transition: color 300ms;
}

.navLink:hover{
    color:rgb(34, 105, 70);
}

.logInBtn{
    width: 50px;
    border: 0;
    background-color:rgb(34, 105, 70);
    color: white;
    padding: 2%;
    border-radius: 5px;
    transition: background-color 300ms;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.logInBtn:hover{
    background-color:rgb(55, 167, 111);
}

.logo{
    margin: 4vh;
}

.logo a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    transition: color 300ms;
}

.logo a:hover{
    color:rgb(34, 105, 70);
}

.homeMainContainer{
    display: flex;
    flex-direction: row;
}

.homeLeftContainer{
    flex: 1;
    margin: 10vh;
}

.homeRightContainer{
    flex: 1;
    display: flex;
    justify-content: center;
}

.homeLeftContainer h1{
    font-weight: 900;
    display: inline-block;
    margin-left: 7px;
}

.homeLeftContainer p{
    font-size: 18px;
    font-weight: 400;
    margin-top: 3vh;
}
.greenText{
    color:rgb(52, 160, 106);
}

.callToActionBtn{
    width: 300px;
    border: 0;
    background-color: rgb(52, 160, 106);
    border-radius: 20px;
    height: 40px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    transition: background-color 300ms;
    margin-top: 4vh;
}

.callToActionBtn:hover{
    background-color:rgb(34, 105, 70);
}

.homeRightContainer img{
    width: 500px;
    border-radius: 50%;
    margin-top: 5vh;
}

/* My Ensembles */

.myEnsembleMainContainer{
    width: 80%;
    justify-content: flex-end;
    margin-top: 5vh;
}

.myEnsemblesBar{
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
}

.myEnsemblesBarRight{
    display: flex;
}

.line{
    margin: 0px 1vw;
    height: 40px;
    border: 1px solid rgb(110, 110, 110);
    border-radius: 5px;
}

.myEnsemblesBar p{
    flex: 1;
}

.myEnsemblesBar button input{
    flex: 1;
}

.myEnsemblesBarRight a{
padding: 3% 25px;
border: none;
border-radius: 15px;
background-color:rgb(34, 105, 70);
color: white;
font-family: 'Poppins', sans-serif;
text-decoration: none;
transition: background-color 300ms;
}

.myEnsemblesBarRight a:hover{
    background-color:rgb(50, 148, 101);
    color: white;
}

.groupCreationContainer{
font-weight: 600;
margin-top: 5vh;
display: flex;
justify-content: center;
}

.ensembleCard{
    height: 300px;
    width: 200px;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.116);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ensembleCard:hover{
cursor: pointer;
background-color: rgb(245, 245, 245);
}

.nameEnsemble{
    width: 100%;
    height: 50px;
}

.ensembleCard h3{
    font-weight: 600;
    padding: 5%;
    text-align: center;
}

.ensembleCard p{
    padding: 5%;
    text-align: center;
}

.ensembleCard img{
    width: 60%;
    margin-left: 22%;
}

.ensembleCardHide{
    display: none;
}

#ensembleContainer{
width: 100px;
height: 100px;
background-color: rgb(228, 139, 139);
}

/* Browse */
.browseContainer{
    background-color: rgb(243, 243, 243);
    width: 90vw;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    border-radius: 5px;
    justify-content: center;
}

.pieceCard{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.199);
    border-radius: 5px;
    display: flex;
    color: rgb(0, 0, 0);
    flex-direction: column;
    margin: 10px 10px;
}

.hidden{
display: none;
}

.pieceCard h1{
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    padding: 10% 2%;
}

.pieceCard:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.05);
}

.pieceCard p{
    padding: 2% 2%;
    text-align: center;
}

#titleSearchInput{
    margin: 2%;
    width: 400px;
    height: 50px;
    border-radius: 50px;
}
