@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato&family=Poppins:wght@200&family=Roboto:wght@300&display=swap');

body{
    margin: 0;
    background-color: #333;
    font-family: 'IBM Plex Sans', sans-serif;
}

.title{
    text-align: center;
    color: white;
}

.mainContainer{
    display: flex;
    flex-direction: row;
}

.container{
    padding: 1rem;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: row wrap;
    min-height: 100px;
}

.left{
width: 33%;
background-color:rgb(87, 87, 87);
border-radius: 5px;
margin: 0 10px 0 200px;
display: flex;
flex-direction: column;
}

.right{
    width: 66%;
    background-color: rgb(87, 87, 87);
    border-radius: 5px;
    margin: 0 200px 0 10px;
}

.draggable{
    padding: 2px;
    background-color: white;
    border: 0;
    cursor: move;
    border-radius: 50px;
    width: 12rem;
    height: 20px;
    margin: 3px;
    text-align: center;
}

.draggable.dragging{
    background-color: rgb(196, 196, 196);
}

.part{
    color: white;
    height: 50px;
    font-size: 30px;
    vertical-align: top;
    margin: 0;
    width: 100%;
}

.copy{
    display: flex;
    align-items: flex-end;
    justify-content: right;
    margin: 0 200px 20px 0;
}

.button{
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 50px;
    background-color: rgb(87, 87, 87);
    color: white;
    transition: width 1s, height 2s;
}

.button:hover{
background-color:rgb(161, 161, 161);
cursor: pointer;
}

.alertContainer{
    background-color: rgb(187, 255, 187);
    width: 500px;
    height: 200px;
    border-radius: 40px;
    box-shadow: 3px 3px 5px 4px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -250px;
    top: 120px;
    overflow: hidden;

}

.alertText{
    font-weight: 800;
    font-size: 24px;
}

.button.success-button{
background-color: rgba(0, 0, 0, 0);
border: 2px solid gray;
color: black;
}

.button.success-button:hover{
    background-color: rgb(87, 87, 87);
    color: white;
}

.hideWindow{
    display: none;
}

